form {
  display: flex;
  flex-direction: column;
}

form button {
  width: 100px;
  margin: 0 auto;
}

form label {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  width: 280px;
  margin: 0 auto;
}

form input {
  width: 300px;
  margin-bottom: 10px;
  text-align: center;
}

button {
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  padding: 2px;
  margin: 10px 10px 0px 10px;
}

/* https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserpho

Heat a large skillet over low heat. Spread butter or margarine onto one side of two slices of bread. Place both pieces buttered side down in the skillet. Lay a slice of cheese on each one, and top with slices of tomato, onion and jalapeno. Butter one side of the remaining slices of bread, and place on top buttered side up. When the bottom of the sandwiches are toasted, flip and fry until brown on the other side. */
