form {
  display: flex;
  flex-direction: column;
}

form h3 {
  font-size: 2.4rem;
  font-family: 'Montserrat', sans-serif;
  color: #f3e1ab;
  padding: 0.5rem 0;
  text-shadow: 2px 2px 2px black;
}

.form-input {
  display: flex;
  flex-direction: column;
}

form button {
  width: 100px;
  margin: 0 auto;
}

form label {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  width: 280px;
  margin: 0 auto;
}

form input {
  width: 300px;
  margin-bottom: 10px;
  text-align: center;
}

button {
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
  padding: 2px;
  margin: 10px 10px 0px 10px;
}

p {
  text-align: center;
  padding-top: 10px;
}
